{% extends "layout.html" %}
{% block title %}Statistici examene{% endblock %}

{% block navbar %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Statistici examene</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Acasă</a></li>
        <li><a href="/despre">Despre</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Orașe <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">București</a></li>
            <li><a href="#">Vâlcea</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>București</h1>
      </div>
    </div>
    <div class="container">
      <!-- <ul class="nav nav-tabs">
        <li class="active"><a href="#">Admitere</a></li>
        <li><a href="#">Bacalaureat</a></li>
      </ul> -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#admitere" data-toggle="tab">Admitere</a></li>
        <li><a href="#bacalaureat" data-toggle="tab">Bacalaureat</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active fade in" id="admitere">
          <div class="row">
            <div class="col-md-6" align="center">
              <h2>Media pe materii</h2>
              <!-- Grafic! -->
            </div>
            <div class="col-md-6" align="center">
              <h2>Procent alegere specializări</h2>
              <!-- Grafic! -->
            </div>
          </div>
          <p align="center">Aici tragem cateva concluzii.</p>
          <div class="row">
            <div class="col-md-12" align="center">
              <h2>Topul liceelor după ultima medie de admitere</h2>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">10</span>
                    Primul
                  </li>
                  <li class="list-group-item">
                    <span class="badge">9.98</span>
                    Al doilea
                  </li>
                  <li class="list-group-item">
                    <span class="badge">9.98</span>
                    Al treilea
                  </li>
                </ul>
            </div>
          </div>
          <p align="center">Aici tragem cateva concluzii.</p>
          <div class="row">
            <div class="col-md-12" align="center">
              <h2>Cele mai seminificative creșteri</h2>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
  
            </div>
          </div>
          <p align="center">Aici tragem cateva concluzii.</p>
          <div class="row">
            <div class="col-md-6" align="center">
              <h2>Medii tip clase</h2>
              <!-- Grafic! -->
            </div>
            <div class="col-md-6" align="center">
              <h2>Procent alegere specializări</h2>
              <!-- Grafic! -->
            </div>
          </div>
          <p align="center">Aici tragem cateva concluzii.</p>
        </div>

        <div class="tab-pane fade" id="bacalaureat">
          <p align="center">Aici tragem cateva concluzii.</p>
        </div>
      </div>

    </div>
{% endblock %}
